{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "declaration-empty-line-before": null,
    "declaration-block-no-redundant-longhand-properties": null
  }
}
