body {
  text-rendering: optimizeLegibility !important;
  font-feature-settings: "liga", "clig", "kern";
}

@font-face {
  font-family: Courier New;
  font-style: normal;
  font-weight: 400;
  src: local(Menlo), local(Consolas);
}

@font-face {
  font-family: Courier New;
  font-style: normal;
  font-weight: 700;
  src: local(Menlo), local(Consolas);
}

@font-face {
  font-family: Courier New;
  font-style: italic;
  font-weight: 400;
  src: local(Menlo), local(Consolas);
}

@font-face {
  font-family: Courier New;
  font-style: italic;
  font-weight: 700;
  src: local(Menlo), local(Consolas);
}

@font-face {
  font-family: Courier;
  font-style: normal;
  font-weight: 400;
  src: local(Menlo), local(Consolas);
}

@font-face {
  font-family: Courier;
  font-style: normal;
  font-weight: 700;
  src: local(Menlo), local(Consolas);
}

@font-face {
  font-family: Courier;
  font-style: italic;
  font-weight: 400;
  src: local(Menlo), local(Consolas);
}

@font-face {
  font-family: Courier;
  font-style: italic;
  font-weight: 700;
  src: local(Menlo), local(Consolas);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 100;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 200;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 300;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 800;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 900;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 100;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 200;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 300;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 500;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 600;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 700;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 800;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 900;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 100;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 200;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 800;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 900;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 100;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 200;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 300;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 400;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 500;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 600;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 700;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 800;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: normal;
  font-weight: 100;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: normal;
  font-weight: 200;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: normal;
  font-weight: 300;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: normal;
  font-weight: 400;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: normal;
  font-weight: 500;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: normal;
  font-weight: 600;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: normal;
  font-weight: 800;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: normal;
  font-weight: 900;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: italic;
  font-weight: 100;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: italic;
  font-weight: 200;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: italic;
  font-weight: 300;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: italic;
  font-weight: 400;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: italic;
  font-weight: 500;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: italic;
  font-weight: 600;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: italic;
  font-weight: 700;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: italic;
  font-weight: 800;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: Verdana;
  font-style: italic;
  font-weight: 900;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 600;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 800;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 900;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 100;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 200;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 300;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 400;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 500;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 600;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 700;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 800;
  src: local(system-ui), local(Segoe UI);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 900;
  src: local(system-ui), local(Segoe UI);
}
