@-moz-document domain("facebook.com"), domain("reddit.com"), domain("messenger.com"), domain("twitter.com"), domain("inoreader.com"), domain("ycombinator.com") {
body,
button,
input,
label,
select,
td,
textarea,
* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
	text-rendering: optimizeLegibility !important;
	font-feature-settings: "liga", "clig", "kern";
}
}

pre,
code {
	font-family: 'Menlo', 'Consolas', 'DejaVu Sans Mono', monospace !important;
	font-feature-settings: initial !important;
}
body > pre,
body > code {
	font-size: 14px;
}
